.main-section{
    margin: 250px auto 0;
    border: 1px solid red;
    width: 50%;
    text-align: center;
}

#nav-bar{
    display: flex;
    flex-direction: column;
}

@media (min-width: 1248px){
    #nav-bar{
        position: fixed;
    }
}

a{
    border: 1px solid black;
    margin: 10px auto 0;
    padding: 10px;
    width: 150px;
    text-align: center;
}